<template>
  <div style="display:inline-block">
    <a
      href="#"
      @click.prevent="show()"
    >Privacy Policy
    </a>
    <b-modal :active.sync="modal" has-modal-card scroll="keep">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title is-size-4">
            Privacy Policy
          </p>
        </header>
        <div class="card-content" style="overflow-y: scroll; height: 80vh">
          <p class="is-size-7">
            {{ content }}
          </p>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item" @click="modal=false">Close</a>
        </footer>
      </div>
    </b-modal>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  data () {
    return {
      modal: false
    }
  },
  computed: {
    ...mapState('auth/agreements', {
      agreements: 'data'
    }),
    content () {
      const content = this.agreements.privacy.content
      if (!content) {
        return
      }

      return Buffer.from(content, 'base64').toString()
    }
  },
  methods: {
    async show () {
      this.modal = true
      if (this.agreements.privacy.content) {
        return
      }

      try {
        await this.$store.dispatch('auth/agreements/getWithContent', {
          container: null
        })
      } catch (e) {
        console.log(e)
        this.modal = false
      }
    }
  }
}
</script>
