<template>
  <div class="modal-card" style="width: auto">
    <section class="modal-card-body">
      <div class="list">
        <p class="list-item">
          {{ commitHash }}
        </p>
        <p class="list-item">
          {{ commitBranch }}
        </p>
        <p class="list-item">
          {{ commitMessage }}
        </p>
        <p class="list-item">
          {{ commitDatetime }}
        </p>
      </div>
    </section>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState('env', [
      'commitHash',
      'commitBranch',
      'commitDatetime',
      'commitMessage'
    ])
  }
}
</script>
