<template>
  <nav class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <div class="content">
          <p class="title is-4">
            Notifications
          </p>
          <p class="subtitle is-6">
            Create a notification
          </p>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button
          class="button is-link"
          @click.prevent="sendNotification"
        >
          Send Notification
        </button>
      </div>
      <div class="level-item">
        <b-input
          v-model="message"
          placeholder="Message"
        />
      </div>
    </div>
  </nav>
</template>
<script>
import { mapState } from 'vuex'
import { mapFields } from 'vuex-map-fields'
export default {
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapFields('notifications', [
      'form.message'
    ]),
    ...mapState('auth', ['user'])
  },
  methods: {
    async sendNotification () {
      try {
        await this.$store.dispatch('notifications/create', {
          container: this.$parent.$refs.loader.$el,
          validator: this.$validator
        })
        this.$emit('success')

        this.$toast.open({
          message: 'Success! Your notification has been created.',
          type: 'is-success'
        })
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>
