<template>
  <div class="column">
    <Create @success="getNotifications" />
    <b-table ref="loader" style="position:relative" :data="data">
      <template slot-scope="props">
        <b-table-column field="id" label="ID">
          {{ props.row.id }}
        </b-table-column>

        <b-table-column field="message" label="Message" width="180">
          {{ props.row.data.message }}
        </b-table-column>

        <b-table-column field="created_at" label="Created At">
          {{ props.row.created_at | localDateTime }}
        </b-table-column>
      </template>

      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon
                icon="emoticon-sad"
                size="is-large"
              />
            </p>
            <p>Nothing here.</p>
          </div>
        </section>
      </template>
    </b-table>
  </div>
</template>

<script>
import Create from './Create'
import { mapState } from 'vuex'
export default {
  components: {
    Create
  },
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapState('notifications', ['data'])
  },
  mounted () {
    this.getNotifications()
  },
  methods: {
    getNotifications () {
      this.$store.dispatch('notifications/getCollection', {
        container: this.$refs.loader.$el
      })
    }
  }
}
</script>
