<template>
  <div class="columns is-centered">
    <div class="column is-half">
      <Register />
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import Register from '~/components/auth/Register'
export default {
  auth: false,
  middleware: 'guest',
  components: {
    Register
  },
  async fetch ({ error, store }) {
    const privacy = _.get(store.state, 'auth.agreements.data.privacy.sha')
    const terms = _.get(store.state, 'auth.agreements.data.terms.sha')

    if (!privacy || !terms) {
      try {
        await store.dispatch('auth/agreements/get')
      } catch (e) {
        console.log(e)
        return error({ statusCode: 403, message: e.message })
      }
    }
  }
}

</script>
