<template>
  <div>
    <section class="section">
      <Notifications />
    </section>
    <section class="section">
      <Jobs />
    </section>
  </div>
</template>

<script>
import Jobs from '~/components/jobs/Index'
import Notifications from '~/components/notifications/Index'
export default {
  name: 'HomePage',
  components: {
    Notifications, Jobs
  }
}
</script>
