<template>
  <div class="site">
    <nav
      class="navbar header"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a
          class="navbar-item"
          href="/"
        >
          <img
            src="~/assets/logo.svg"
            alt="Kaboodle"
            height="28"
          >
        </a>

        <div
          class="navbar-burger"
          :class="{ 'is-active' : showNav }"
          @click="showNav = !showNav"
        >
          <span />
          <span />
          <span />
        </div>
      </div>

      <div class="navbar-menu" :class="{ 'is-active' : showNav }">
        <div class="navbar-start" />
        <div class="navbar-end">
          <Menu />
        </div>
      </div>
    </nav>

    <div class="site-content">
      <section class="main-content columns">
        <div class="container column is-10">
          <section class="section">
            <nuxt />
          </section>
        </div>
      </section>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <Terms /> &#183; <Privacy /> <br>
        &copy; {{ year }}<br><br>
        <a @click.prevent="showBuildModal = true">build info</a>
      </div>
      <b-modal :active.sync="showBuildModal" has-modal-card>
        <Build />
      </b-modal>
    </footer>
  </div>
</template>

<script>
import Menu from '~/components/Menu'
import Build from '~/components/Build'
import Terms from '~/components/auth/agreements/Terms'
import Privacy from '~/components/auth/agreements/Privacy'
export default {
  components: {
    Build,
    Menu,
    Terms,
    Privacy
  },
  data () {
    return {
      showNav: false,
      showBuildModal: false
    }
  },
  computed: {
    year () {
      return new Date().getFullYear()
    }
  }
}
</script>
