<template>
  <nav class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <div class="content">
          <p class="title is-4">
            Jobs
          </p>
          <p class="subtitle is-6">
            Create a job to test websockets
          </p>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button
          class="button is-link"
          @click.prevent="createJob"
        >
          Create Job
        </button>
      </div>
    </div>
  </nav>
</template>
<script>
import { mapState } from 'vuex'
export default {
  data () {
    return {
      form: {
        name: null
      }
    }
  },
  computed: {
    ...mapState('auth', ['user'])
  },
  methods: {
    async createJob () {
      try {
        await this.$store.dispatch('jobs/create', {
          container: this.$parent.$refs.loader.$el,
          validator: this.$validator
        })
        this.$emit('success')

        this.$toast.open({
          message: 'Success! Your job has been created.',
          type: 'is-success'
        })
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>
